name: Publish

on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"
      - "[0-9]+.[0-9]+.[0-9]+.post[0-9]+"
      - "[0-9]+.[0-9]+.[0-9]+[a-b][0-9]+"
      - "[0-9]+.[0-9]+.[0-9]+rc[0-9]+"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: 3.14
      - run: uv build
      - uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist

  pypi-publish:
    name: Upload release to PyPI
    needs: build
    runs-on: ubuntu-latest
    environment: release
    permissions:
      id-token: write
    steps:
    - name: Retrieve packages
      uses: actions/download-artifact@v7
      with:
        name: dist
        path: dist
    - name: Display structure of downloaded files
      run: ls -R
    - name: Upload packages
      uses: pypa/gh-action-pypi-publish@release/v1

  github-release:
      name: Create GitHub release
      needs: pypi-publish
      runs-on: ubuntu-latest
      permissions:
        contents: write
      steps:
      - uses: actions/checkout@v5
      - id: changelog
        uses: agronholm/release-notes@v1
        with:
          path: CHANGELOG.md
          version_pattern: ^\#\# ([0-9][^*]*)\n
      - uses: ncipollo/release-action@v1
        with:
          body: ${{ steps.changelog.outputs.changelog }}
